@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
#BtnSim:hover, #BtnExc:hover{
    background: #18074a;
    cursor: pointer;
}
#BtnExc, #BtnSim{
    border-radius: 5px;
}
#SimList, #ExcList{
    max-height: 0;
    overflow: hidden;
    background-color: #18074a;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease, max-height 0.5s ease;
    margin: 0;
}
#SimList.here, #ExcList.here{
    display: flex;
    flex-direction: column;
    max-height: 27vh;
    opacity: 1;
    visibility: visible;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.Sim, .Exc{
    margin: 0;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5vh 15vw; /* Ajusta margens externas */
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: left;
    border-bottom: 5px solid #FF2978;
    background:#18074a;
    padding: 2%;
    margin-bottom: 0;
}
body{
    margin:0;
    font-family: "Montserrat", serif;
    padding: 0;
    
}
.logo{
    flex:20%;
    text-align:left;
}
.text {
    color: #FF2978;
    font-size: 2rem;
    font-family: "Doto", serif;
}
.headline{
    margin-top: 2%;
    flex:40%;
   
}
.headline h2{
    font-weight: 900;
    font-size: 15px;
    padding: 0;
    margin-top:0;
    color:#18074a;

}
.headline p{
    text-indent: 5%;
    color:grey;
    text-align: justify;
}
.headline a{
    color: #18074a;
    font-weight: bold;
    transition: 0.5s;
}
.headline a:hover{
    color: #7856e0;
    transition: 0.5s;
}
.img-headline{

    flex: 30%; /* Atribui 30% da largura do contêiner */
    text-align: center;
    
}
ul{
    background:white;
    padding: 2%;
    list-style: none;
    margin: 0vh 20vw;
}
li{
    display: block;
    margin:1.5vh 0;
    background: #18074a;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
}

li a{
    color: white;
    text-decoration: none;
    padding: 2%;
    display: block;
    font-size: 16px;
    font-weight:bold;
}
li:hover{
    background: #5e48a1;
    transform: scale(1.05);
    box-shadow: 0 5px 15px black;
    transition: 0.5s;
}

span{
    margin: 15vw;
    color: #090422;
    font-weight: bold;
}

footer{
    margin-top:10vh;
    height: max-content;
    background-image: linear-gradient(180deg,#180f4a,#090422,black);
    text-align:center;
    border-top: 5px solid #FF2978;
}
.logo-rodape{
    padding: 100px;
}

.calculo{
    font-family: "Doto", serif;
    color:#FF2978;
    font-size: 34px;
    padding-bottom: 2%;
}

.social a{
    text-decoration: none;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    button, a {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
    .content {
        flex-direction: column;
        margin: 5vh 5vw 0vh 5vw;
    }
    
    header {
        flex-direction: column;
        text-align: center;
        padding: 2%;
    }
    
    .logo {
        display: flex;
        align-items: center;
        flex: 100%;
        text-align: center;
        margin-bottom: 1vh;
    }
    
    .headline {
        flex: 100%;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .headline h2{
        letter-spacing: 0px !important;
    }
    
    .headline p {
        text-indent: 10%;
        text-align: justify
    }
    
    .img-headline {
        display: none;
    }
    
    ul {
        margin: 0;
        padding: 5%;
    }

    footer{
        margin-top: 3vh;
    }

    .logo-rodape{
        padding: 4vh 0vw 4vh 0vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
