@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    outline: none;
}
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #FF2978;
    background:#18074a;
    padding: 2%;
    margin-bottom: 5vh;
}
header i{
    cursor: pointer;
}
.logo{
    flex:20%;
    text-align:left;
    font-weight: bold;
}
.logo a{
    font-size: 34px;
    font-family: "Doto", serif;
}
.Sum-list a{
    font-size: 20px;
    font-weight: 400;
    font-family: "Montserrat", serif;
}
.Sum-list{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 20vw;
    top: 6vh;
    right: 2vw;
    background-color: #18074a;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow:0px 5px 15px black;
    opacity: 0;
    transform: scale(0);
    transform: translateY(-10vh);
    transition: 0.3s ease;
    pointer-events: none;
    overflow: hidden;
    z-index: 1000;
}
.Sum-list.show {
    opacity: 1;
    transform: translateY(4vh);
    pointer-events: auto;
}
.Sum-list li:hover{
    background-color: #5e48a1;
}
.Sum-list :last-child{
    border-bottom: none;
}
.Sum-list a{
    border-bottom: solid 1px #5e48a1;
}
.Sum-list li{
    color: #FF2978;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1vh;
    margin: 0;
}
.Sum-list li a:hover{
    color: #FF2978;
}
header a{
    text-decoration: none;
    color:#FF2978;
}
.logo a:hover{
    color:#5e48a1 ;
}
#BtnSum{
    background-color: transparent;
    border: none;
}
body{
    margin: 0;
    font-family: "Montserrat", serif;
    padding: 0;  
}
.titulo{
    text-align: center;
}
.content{
    margin: 0vh 15vw;
}
.content h1{
    font-weight: 800;
    font-size: 35px;
    padding: 0;
    margin-top:0;
    color:#18074a;
}
.content h2{
    margin-top: 5vh !important;
}
.content h3{
    margin-top: 5vh !important;
}
.content h2, h3, h4{
    margin: 3vh 10vw;
    color:#354b54;
    text-align: left;
}
.content p{
    text-indent: 5%;
    text-align: justify !important;
}
.content p, li{
    margin: 2vh 10vw;
    color:grey;
    text-align: left;
}
iframe, img {
    display: block; 
    margin: 3vh auto; 
    max-width: 100%; 
}

#backToTop{
    display: flex;
    padding: 0.3%;
    border-radius: 100%;
    background-color: #18074a;
    border: 3px solid #FF2978;
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
    visibility: hidden;
}

.ri-arrow-up-s-line{
    transition: .5s;
}

.ri-arrow-up-s-line.arrow_up{
    transform: translateY(-15%);
    transition: .5s;
}


footer{
    margin-top:15vh;
    height: max-content;
    background-image: linear-gradient(180deg,#180f4a,#090422,black);
    text-align:center;
    border-top: 5px solid #FF2978;
}
.logo-rodape{
    padding: 100px;
}

.calculo{
    font-family: "Doto", serif;
    color:#FF2978;
    font-size: 34px;
    padding-bottom: 2%;
}

.social a{
    text-decoration: none;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    button, a {
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }
    .content {
        display: flex;
        flex-direction: column;
        margin: 0vh 0vw;
        overflow: hidden;
    }
    header {
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        max-width: 100%;
        padding: 1%;
        margin-bottom: 3vh;
    }
    header button{
        padding: 2vh 0vw 1vh 0vw;
    }
    header span{
        padding-left: 3vw;
        font-size: 2rem;
    }
    .headline {
        flex: 100%;
        text-align: center;
    }
    .img-headline {
        flex: 100%;
    }
    ul {
        margin: 0;
    }
    .Sum-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(24, 7, 74, 0.95);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        opacity: 0;
        transition: 0.4s ease-in-out;
        z-index: 999;
        border-radius: 0%;
    }

    .Sum-list.show {
        transform: translateY(0%);
        opacity: 1;
    }

    .Sum-list li {
        text-align: center;
        padding: 15px;
        font-size: 22px;
    }

    .Sum-list li:hover{
        background-color: rgba(24, 7, 74, 0.95);
    }

    #BtnSum {
        position: absolute;
        top: 4vh;
        right: 1vw;
        background-color: #18074a;
        padding: 1vh 2vw;
        border: solid 3px #FF2978;
        border-radius: 50%;
        box-shadow: 0px 4px 10px black;
        transition: 0.3s ease;
    }

    #BtnSum:hover {
        transform: scale(1.1);
    }
    .ri-close-line {
        font-size: 28px;
    }
    .Sum-list a {
        border-bottom: none;
    }
    .content h1, .content h2, .content h3 {
        text-align: center;
        margin: 1vh auto;
    }
    iframe, img {
        width: 80%;
    }
    #backToTop {
        bottom: 1vh;
        right: 1vw;
    }
    footer{
        margin-top: 3vh;
    }

    .logo-rodape{
        padding: 4vh 0vw 4vh 0vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
